<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://debian/test?characterEncoding=UTF8"></property>
        <property name="username" value="root"></property>
        <property name="password" value="12qw@#QWmysql"></property>
    </properties>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="priv.yanyang.example.mybatis.model"></package>
        <package name="priv.yanyang.example.mybatis.viewmodel"></package>
    </typeAliases>
    <typeHandlers>
        <package name="priv.yanyang.example.mybatis.typehandler"></package>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
<!--        <package  name="priv/yanyang/example/mybatis/mapper"></package>-->
        <mapper resource="mapper/UserMapper.xml"></mapper>
        <mapper resource="mapper/PostMapper.xml"></mapper>
    </mappers>
</configuration>
